<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/main.js"></script>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <div class="tittle">
        <div calss="container-fluid">
            <div class="row" id="head">
                <span class="logo col">CV</span>
                <a href="#projects" class="tittle-font col-md-auto">project</a>
                <a href="a" class="tittle-font col-md-auto">about</a>
                <a href="a" class="tittle-font col-md-3">contact</a>
            </div>
        </div>
    </div>

    <div class="parallax"></div>

    <div class="bar" id="projects">
        <div class="bar-text">Project</div>
        <p></p>
        <div class="container">
            <div class="row bar-text-under">
                <div class="col-sm">UX Design</div>
                <div class="col-sm">|</div>
                <div class="col-sm">Interaction Design</div>
                <div class="col-sm">|</div>
                <div class="col-sm">UI Design</div>
            </div>
        </div>
    </div>

    <div class="bar-under">
        <div class="container-fluid">
            <div class="row bar-height">
                <div class="col-md-8 bar-information">
                    <div class="bar-position">
                        <div class="bar-tittle-text">Veritas AppAssist v.3</div>
                        <div class="bar-text">AppAssist is a hardware installation application specifically designed to
                            be accessible in harsh data center environments. The app has been tested by hardware
                            services from all around the world, so you benefit from world-class experts.</div>
                        <p></p>
                        <a href="http://www.google.com">
                            <button class="viewBtn">View this shit</button>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bar-position-img">
                        <img src="../images/iphone.png" style="height: 120%">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bar-under-2">
        <div class="container-fluid">
            <div class="row bar-height">
                <div class="col-md-4">
                    <div class="bar-position-img-2">
                        <img src="../images/watch.png" style="height: 120%">
                    </div>
                </div>
                <div class="col-md-8 bar-information">
                    <div class="bar-position-2">
                        <div class="bar-tittle-text">REMINDer</div>
                        <div class="bar-text">REMINDer is an application designed for people with ADD/ADHD. Considering
                            to their characteristic of less concentrations, we designed a task tracking tool to help
                            them focus on current task and achieve their own goals.</div>
                        <p></p>
                        <a href="http://www.google.com">
                            <button class="viewBtn">View this shit</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bar">
        <div class="bar-text-more">More Projects</div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                a
            </div>
            <div class="col">
                a
            </div>
            <div class="col">
                a
            </div>
        </div>
    </div>

    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>





</body>

</html>