.tittle {
    background-color: rgba(43, 43, 43);
    padding: 0.7%;
}

.logo {
    color: #fff;
    font-size: 115%;   
    padding-left: 4%;
}

.tittle-font {
    color: #fff;
    font-size: 115%;
    padding-right: 3%;
}


#head a {
    text-decoration: none;
    color: #fff;
}

#head a:hover {
    color: yellow;
}

.parallax{
    background-image: url("../images/S__10256392.jpg");
    min-height: 100%; 
    background-attachment: fixed; 
    background-position: center center;
    background-size: cover;
    -webkit-filter:grayscale(1);
}

.bar {
    background-color: rgba(43, 43, 43);
    padding-bottom: 3%;
    padding-top: 1%;
    color: #FFF;
    text-align: center;
}

.bar-text {
    font-size: 300%;
}

.bar-text-under {
    font-size: 150%;
}

.bar-under {
    height: 84%;
    width: 100%;
    overflow:hidden;
    background-color: rgb(243, 243, 243);
}

.bar-information {
    padding-left: 20%;
}

.bar-height {
    height: 100%;
}

.bar-position {
    position:relative; 
    top:40%; 
    right: 20%;
}

.bar-position-img {
    position:relative; 
    top:10%; 
}

.bar-text {
    font-size: 24px;
}

.bar-tittle-text {
    font-size: 36px;
    border-bottom: 5px solid #FFED00;
}


.viewBtn {
    background-color: rgb(43, 43, 43);
    color: aliceblue;
    padding: 2%;
    font-size: 24px;
    width: 32%;
    text-align:center;
    border: none;
    border-radius: 4px;
    /* Old browsers */
    background: linear-gradient(to left, #2b2b2b 50%, #FFED00 50%);
    float:left;
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 1s ease;
}

.viewBtn:hover {
    background-color: #FFED00;
    color: #2b2b2b;
    border: 1px #FFED00;
    cursor: pointer;
    background-position:left bottom;
}

.bar-under-2 {
    height: 84%;
    width: 100%;
    overflow:hidden;
    background-color: #FFF;
}

.bar-position-2 {
    position:relative; 
    top: 30vh; 
    right: 20vh;
}

.bar-position-img-2 {
    height: 60%;
    position:relative; 
    top: 20vh;
    left: 10vh;
}

.bar-text-more {
    font-size: 48px;
    padding-top: 1%;
}

.img-size {
    width: 100%;
    height: 100%;
}

.center {
    text-align: center;
}

.box p {
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 3vh;
    cursor: pointer;
    position: absolute;
    padding-top: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    z-index: 1;
    color: white;
}

.box {
    -webkit-filter: grayscale(1);
    transition: 1s;
    width: 250px;
    height: 600px;
}

.box:hover {
    -webkit-filter:none;
}

.center .test:hover p {
    display: none;
}

.about-pic {
    -webkit-filter: grayscale(1);
    padding-top: 5%;
    padding-bottom: 5%;
    position:relative; 
    right: 3%;
    width: 120%;
}

.about-text {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 36px;
    position:relative; 
    left: 15%;
}

.bar-text-footer {
    font-size: 30px;
    padding-top: 1%;
}

.bar-text-footer-under {
    font-size: 24px;
}











